.signupForm{
    display:none;
    position:fixed;
    background-color: #7b284c;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    color: white;
    border-radius: 25px 5px 25px 5px;
    cursor: pointer;
    animation: slideIn 0.5s ease-in-out;
}

.signup_head{
    display: flex;
}

#cross{
    color: rgb(255, 193, 193);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}

#cross:hover{
    background-color: red;
    color: white;
    border-radius: 50px;
}

#cross:active{
    font-size: 16px;
}
