.had{
    display: flex;

}

#user{
    margin: 0px 0px 10px 40%;
    padding: 0px 0px 10px 0px;
    float: right;
}
.contact_box {
    color: white;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(to right, #662D8C, #ED1E79);
    border-radius: 25px 5px 25px 5px;
    cursor: pointer;
    margin: auto;
    /* box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.255); */
}



.c_Fname {
    padding: 5px 0px 5px 5px;
    font-size: 24px;
    display: grid;
}

.con_Fname {
    padding: 5px 5px 5px 5px;
    width: 400px;
    font-size: 20px;
    background-color: rgb(255, 235, 235);
    outline: none;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.c_Lname {
    padding: 5px 5px 5px 5px;
    font-size: 24px;
}

.con_Lname {
    padding: 5px 5px 5px 5px;
    width: 400px;
    font-size: 20px;
    background-color: rgb(255, 235, 235);
    outline: none;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.c_email {
    padding: 5px 5px 5px 5px;
    font-size: 24px;
}

.con_email {
    padding: 5px 5px 5px 5px;
    width: 400px;
    font-size: 20px;
    background-color: #c0b6b6;
    border: none;
    outline: none;
    border-radius: 7px;
}

.con_Fname:focus,
.con_Lname:focus,
.con_email:focus,
.con_msg:focus{
    background-color: rgb(190, 205, 205);
    border-bottom: 3px solid rgb(255, 81, 0);
}

.c_msg {
    padding: 5px 5px 5px 5px;
    font-size: 24px;
}

.con_msg {
    padding: 5px 5px 5px 5px;
    width: 400px;
    font-size: 20px;
    background-color: rgb(255, 235, 235);
    outline: none;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: sans-serif;
}

.c_botn {
    display: flex;
    padding: 10px;
}

.c_sbtn {
    padding: 5px;
}

.con_sbtn {
    margin-left: 18%;
    width: 150px;
    padding: 8px 8px 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right, #662D8C, #ED1E79);
    box-shadow: 0px 2px 10px 3px black;
}

.con_sbtn:active {
    background-color: #fefefe;
    color: rgb(255, 47, 0);
    padding: 7px;
}

.c_rbtn {
    padding: 5px;
}

.con_rbtn {
    margin-left: 55%;
    width: 150px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right, #662D8C, #ED1E79);
    box-shadow: 0px 2px 10px 3px black;
}

.con_rbtn:active {
    background-color: #fefefe;
    color: rgb(255, 47, 0);
    padding: 7px;
}

.scl_media{
    text-align: center;
    font-size: 16px;
    padding: 0px 1px 1px 10px;
    font-weight: 900;
}

.fa{
    
    box-shadow: 2px 2px 12px 2px #550729;
    background-color: #550729;
}

.fa-facebook {
    /* background: #3B5998; */
    color: white;
    text-align: center;
    padding: 10px 15px 12px 15px;
    border-radius: 40%;
    border: none;
    text-decoration: none;
}

.fa-facebook:active{
    padding: 8px 13px 12px 13px;
}

.fa-instagram {
    /* background: #3B5998; */
   color: red;
    text-align: center;
    padding: 10px 15px 15px 15px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}

.fa-github {
    /* background: #3B5998;*/
    color: white;
    text-align: center;
    padding: 10px 15px 15px 15px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}

.fa-linkedin{
  text-align: center;
  padding: 10px 15px 15px 15px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

@media (max-width:600px) {
    .contact_box {
        color: white;
        width: fit-content;
        padding: 15px 15px 15px 15px;
        background: linear-gradient(to right, #662D8C, #ED1E79);
        border-radius: 25px 5px 25px 5px;
        cursor: pointer;
        margin: auto;
    }

    .c_Fname {
        font-size: 18px;
    }

    .con_Fname {
        width: 240px;
    }

    .c_Lname {
        padding: 5px 5px 5px 5px;
        font-size: 18px;
    }

    .con_Lname {
        width: 240px;
    }

    .c_email {
        font-size: 18px;
    }

    input[type="email"] {
        width: 240px;
    }

    .c_msg {
        padding: 5px 5px 5px 5px;
        font-size: 18px;
    }

    .con_msg {
        width: 240px;
    }

    .con_sbtn {
        margin-left: 20px;
        width: 75px;
    }

    .con_rbtn {
        margin-left: 40px;
        width: 75px;
    }

}