* {
  margin: 0;
  padding: 0;
}

.tabcontent {
  min-height: 615px;
}

.calcNav {
  display: flex;
  margin: 3px 0px 15px 0px;
  background-color: #28061553;
  text-align: center;
}

.clctlink {
  margin: 3px 12px 3px 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 4px 6px 4px 6px;
  font-size: 18px;
  border-radius: 12px;
}

.clctlink:active {
  color: #fff;
  background-color: #ed1e789b;
}

.box {
  display: none;
  width: fit-content;
  text-align: center;
  border: 10px solid #000000b2;
  border-radius: 8px;
  margin: 30px 0px 0px 70px;
  display: grid;
  background-color: #280615c0;
  box-shadow: 0px 1px 21px 2px rgba(240, 79, 79, 0.623);
  cursor: pointer;
  margin: auto;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 0px 5px 9px;
}

.clac_bt {
  width: 70px;
  padding: 12px;
  font-size: 24px;
  font-weight: 400;
  background-color: #430822ba;
  color: white;
  margin: 7px;
  border-radius: 45%;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 11px 1px #69022fbd;
}

input[type="text"] {
  width: 98%;
  height: 125px;
  text-align: right;
  font-size: 28px;
  font-weight: 700;
  background-color: #ed1e7803;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 24px 0px 0px 0px;
  border: none;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

#clr {
  grid-column: 1/2;
  grid-row: 1;
}

.highlight {
  background-color: rgb(80, 77, 77);
  background-color: #43082200
}

.orng {
  background-color: rgba(132, 39, 0, 0.996);
  box-shadow: 3px 3px 11px 1px rgba(111, 54, 0, 0.821);
}

footer {
  background: linear-gradient(to right, #662d8c73, #ed1e786f);
  color: black;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: auto;
  cursor: pointer;
}

h3 {
  padding: 10px 0px 10px 5px;
  cursor: pointer;
}

/* INTEREST PART*/
.containerInt {
  border: 1px solid #430822;
  background-color: #57133026;
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  margin: auto;
}

#enableMonth {
  margin: 0px 0px 0px 20px;
}

#enableDays {
  margin: 0px 0px 0px 20px;
}

.containerInt .inpt {
  padding: 4px;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 400px;
  margin: 0px 10px 15px 10px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  background-color: #43082237;
}

.containerInt input:focus {
  background-color: #630d3272;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}

#daymsg {
  font-size: 14px;
}

#mnthmsg {
  font-size: 14px;
}

.calcult{
  text-align: center;
}

#interest {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  height: 20px;
  font-size: 16px;
}

#principal {
  margin: 15px 0px 10px 0px;
  font-weight: bold;
  height: 20px;
  font-size: 16px;
}

#total {
  margin: 15px 0px 10px 0px;
  font-weight: bold;
  height: 16px;
  font-size: 16px;
}

/* INTEREST PART*/

@media (max-width:600px) {
  body {
    width: 100%;

  }

  .box {
    margin: auto;
    width: 93%;
    text-align: center;
    border-radius: 8px;
    display: block;
    cursor: pointer;
  }

  .calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1px 4px 8px 4px;
  }

  .clac_bt {
    width: 77%;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
    border-radius: 45%;
    box-shadow: 3px 1px 5px 1px rgb(61, 55, 55);
  }

  input[type="text"] {
    width: 98%;
    height: 50px;
    font-size: 22px;
    margin: 10px 0px 10px 0px;
    padding: 30px 0px 0px 0px;
  }

  .containerInt {
    width: 300px;
    text-align: center;
    margin: auto;
  }

  #enableMonth {
    margin: 0px 0px 0px 20px;
  }

  #enableDays {
    margin: 0px 0px 0px 20px;
  }

  .containerInt .inpt {
    padding: 4px;
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 220px;
    margin: 0px 10px 15px 10px;
  }

  .foot {
    font-size: 10px;
  }
}