.Tic_Tac_board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 4px;
    margin: 10px auto;
    margin: 0px 0px 0px 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#info {
    display :none;
    position :fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 2px 15px 0px rgb(51, 49, 49);
    background-color: rgba(255, 9, 9, 0.232);
    background-color: #7b284c;
    cursor: pointer;
    padding: 25px 15px 25px 15px;
    color: white;
    animation: slideIn 0.2s ease-in-out;
}

#showPlayer{
    display: none;
}

#infoplayer{
    padding: 10px;
    display: flex;
    background-color: #ed1e781a;
    width: fit-content;
    margin: auto;
}

.gameName {
    font-size: 20px;
    margin: 5px 0px 0px 0px;
}

.shwName{
    padding: 3px 3px 3px 3px;
    font-size: 16px;
    width: 100px;
    background: none;
    border: none;
    color: rgb(251, 43, 6);
    text-align: center;
}

.pname1{
    margin: 1px 0px 15px 0px;
    padding: 5px 5px 5px 5px;
    width: 260px;
    font-size: 16px;
    background-color: rgb(255, 235, 235);
    border: none;
    outline: none;
    border-radius: 7px;
    margin-bottom: 10px;
}

.pname2{
    padding: 5px 5px 5px 5px;
    width: 260px;
    font-size: 16px;
    background-color: rgb(255, 235, 235);
    border: none;
    outline: none;
    border-radius: 7px;
    margin-bottom: 10px;
}

.board_box {
    width: 80px;
    height: 80px;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #873c5d60;
    color: white;
}

.board_box:active{
    background-color: #9e3d67;
    transition: 1ms;
}

#message {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-weight: 700;
}

.rst {
    margin: 10xp 0px 0px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
}

.rs_t {
    margin: 10xp 0px 0px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border: 2px soid #000;
    border-radius: 5px;
    background-color: #430822ba;
    color: white;
    cursor: pointer;
}

.rs_t:active {
    padding: 9px 18px 9px 18px;
}

@media (max-width:600px) {}