.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
}

.blr{
    filter: blur(5px);
}

#admin1 {
    width: 10px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    margin: 0px 0px 0px 68px;
}

.acess1{
    width: 250px;
    padding: 3px 2px 3px 2px;
    font-size: 18px;
    font-weight: 600;
}

#admin1:focus {
    width: 10%;
    text-align: left;
    margin-left: 45px;
    font-size: 14px;
    color: yellow;
    background-color: #292121;
    border: 2px solid rgb(0, 0, 0);
    cursor: progress;
}

.acess {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 2px 15px 0px rgb(51, 49, 49);
    z-index: 2;
}

#ascnt1 {
    background-color: rgba(255, 9, 9, 0.232);
    background-color: #7b284c;
    cursor: pointer;
    padding: 25px 15px 25px 15px;
    color: white;
}

.ap {
    color: white;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
}

.apem {
    margin: 1px 0px 15px 0px;
}

.apb {
    margin: auto;
    text-align: center;
    margin: 12px 0px 0px 0px;
    height: 30px;
}

.apbt {
    background-color: rgba(255, 9, 9, 0.329);
    padding: 5px;
    font-size: 18px;
    width: 50%;
    color: white;
    border: 1px solid white;
}

.apbt:hover {
    background-color: rgba(255, 9, 9, 0.59);
}

.apbt:active {
    padding: 4px;
}

#viewPage {
    display: none;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 9, 9, 0.389);
    background-color: #7b284c;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 2px 15px 0px rgb(51, 49, 49);
    animation: slideIn 0.4s ease-in-out;
}

#view1 {
    color: white;
    margin: 5% 2px 10px 0px;
    padding: 10px 35px 10px 35px;
    background-color: rgba(255, 9, 9, 0.442);
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#view1:hover {
    background-color: rgba(255, 9, 9, 0.563);
}

#view1:active {
    padding: 8px 22px 8px 22px;
}

@media (max-width:600px) {
    #viewPage {
        width: 290px;
        height: 180px;
    }
}